@page "/culture"
@inject IStringLocalizer<Culture> _loc
@inject NavigationManager _navigation

@*<HeadContent>
    <meta property="og:url" content="@(_navigation.BaseUri)good-content"/>
    <meta property="og:site_name" content="The name of your site"/>
</HeadContent>*@

<h1>Culture Example</h1>

<p><b>@_loc["CurrentCulture"]</b>: @CultureInfo.CurrentCulture.Name - @CultureInfo.CurrentCulture.DisplayName</p>
<p><b>@_loc["CurrentCulture"]</b>: @CultureInfo.CurrentUICulture.Name - @CultureInfo.CurrentUICulture.DisplayName</p>
<p><b>@_loc["CurrentCulture"]</b>: @CultureInfo.CurrentUICulture.CompareInfo.Name - @CultureInfo.CurrentUICulture.EnglishName</p>

<h2>Greeting</h2>

<p>
    @_greeting
</p>

@code {
    private string _greeting;

    protected override void OnInitialized()
    {
        _greeting = _loc["Greeting"];
    }
}
